@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');*/

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "Heebo", serif;
    font-weight: 400;
    @apply text-primary-100;
}

.svgCurve{
    position: absolute;
    top: 0;
    left: -99px;
    width: 300px;
    height: 100%;
    fill: #FFE1E0;
    stroke: none;
}